# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Envs
venv/
.venv/
.env
.env.*

# Test & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
*.log

# Misc
*.swp
